body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS to deal with constraint validation styles */
input:valid {
  border: 2px solid green;
}

.invisible{
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}