body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS to deal with constraint validation styles */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}
